# Example environment variables for the Database.
PG_USERNAME=
PG_PASSWORD=
PG_HOST=
PG_PORT=
PG_DATABASE=

# Example environment variables for the Server port.
PORT=8080

# Example environment variables for Infrastructures.
TMDB_API_KEY=
YOUTUBE_API_KEY=

# Example environment variables for Cloudinary.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Example environment variables for JWT.
JWT_SECRET=
JWT_EXPIRATION=

# Example environment variables for Smtp Mail.
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

# Example environment variables for the Frontend and Backend URLs.
APP_FRONTEND_URL=
APP_BACKEND_URL=

# Example environment variables for the Google OAuth.
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Example environment variables for Elasticsearch.
ELASTIC_URI=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=




